---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Badge from '../components/Badge.astro'
import Projects from '../components/Projects.astro';
import AboutMe from '../components/AboutMe.astro'
import LinkedInIcons from '../components/icons/LinkedIn.astro'
import SocialPill from '../components/SocialPill.astro'
import GitHubIcons from '../components/icons/GitHub.astro'
import MailIcons from '../components/icons/Mail.astro'
import HeartProjectIcons from '../components/icons/HeartProject.astro'
import ProfileCheck from '../components/icons/ProfileCheck.astro'



---

<Layout 
        title="Yossi Juárez Portfolio - Full Stack Web Developer">
	
	<main class="px-4">
		<SectionContainer class="py-44 pb-32">
			
		
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pd-10">
			Hey, soy Yossi Juárez <a 
			href="https://www.linkedin.com/in/yossi-juárez-fullstackdeveloper" 
			target="_blank"
			rel="noopener"
			class="flex justify-center items-center"
			>
				<Badge></Badge>
			</a>
		</h1>

		<h2 class="text-xl lg:text-2xl text-wrap mt-5 max-w-[700px]">
		   <span>Como constructora de mundos web,</span><span class="text-purple-200/95"> 
			combino HTML, CSS, JavaScript, React y Node.js</span
			>
		    <span class="text-purple-200/95">para dar vida a proyectos vibrantes.</span> 
			<span class="opacity-85">¡Exploremos juntos el facinante universo del desarrollo web!</span>
		</h2>

		    <nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/yossi-juárez-fullstackdeveloper">
					<LinkedInIcons class="size-4 md:size-6" />
					 LinkedIn
                </SocialPill>
				<SocialPill href="https://github.com/Yoss777s">
					<GitHubIcons class="size-4 md:size-6" />
					 GitHub
                </SocialPill>
				<SocialPill href="mailto:yossi.juarez12@gmail.com" 
				>
					<MailIcons class="size-4 md:size-6" />
					Contáctame
                </SocialPill>						
			</nav>
		</SectionContainer> 

		<SectionContainer id="proyectos"> 
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<HeartProjectIcons class="size-7" />
				Proyectos
			</h2>
				<Projects />
		</SectionContainer>

		<SectionContainer id="sobre-mi"> 
			<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-white/80 dark:text-white">
				<ProfileCheck class="size-8" />
				Sobre mí
			</h2>
				<AboutMe />
		</SectionContainer>
	</main>
</Layout>

