---
 const personalImageAlt = "Yossi Juárez"
---

<article class="flex flex-col items-center justify-center gap-8 text-white-700 dark:text-white-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-pink-300 dark:[&>p>strong] [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      ¡Hola, mundo digital! Soy Yossi Juárez, una Desarrolladora Web Full Stack que ha forjado su camino en el fascinante mundo del desarrollo web a través de
      la impresionante <strong >ADA School en asociación con PROtalento. </strong>
        Mi viaje en el mundo del desarrollo web ha sido como una montaña rusa emocionante. Mi capacidad para adaptarme rápidamente a nuevos entornos y tecnologías es la chispa que impulsa mi creatividad y me permite dominar herramientas <strong >como HTML, CSS, JavaScript, React.js, Node.js y GitHub. </strong>
      
    </p>

    <p>
      <strong
        >Si estás buscando una mente creativa, ingeniosa y siempre lista para innovar, </strong
      >¡has llegado al lugar correcto! ¡Bienvenido a mi mundo digital, donde la creatividad y la innovación se fusionan para crear experiencias web únicas y emocionantes!
    </p>

  </div>

  <img width="200" height="200" src="/projects/Me12.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 bg-pink md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl ring-1 ring-white/20 " style="object-position: 50% 50%">

</article>
